ml-dtypes>=0.5.3
pillow>=11.3.0
appdirs>=1.4.4
astropy>=7.1.0
astropy-iers-data>=0.2025.9.1.0.42.11
customtkinter>=5.2.2
imageio>=2.37.0
minio>=7.2.16
numpy>=2.2.6
onnxruntime>=1.22.1
opencv-python-headless>=4.12.0.88
PyKrige>=1.7.2
requests>=2.32.5
scikit-image>=0.25.2
scipy>=1.16.1
xisf>=0.9.5